// styling for the home specifcs
$light-grey: #e3e3e3;
.home {
    .description {
        background: $light-grey;
        margin: 80px auto;
        .row {
            padding-top: 40px;

            .well {
                width: 50%;
                margin: 0 auto;
                padding: 10px;
                border: solid 1px black;
                border-radius: 5px;
                text-align: center;
                background: white;
            }

            p {
                text-align: center;
                width: 80%;
                margin: 20px auto 0 auto;
                padding: 10px;
                background: white;
                height: 220px;
            }

            img {
                width: 100%;
                height: auto;
                width: 80%;
                margin: 20px auto;
                display: block;
            }
        }
    }
}
